/** {
    margin: 0;
}*/



html { background-color: rgb(234,244,246); }

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', 'Hind', sans-serif;
}

a { text-decoration: none; }

/*uvodni logo + text EduPlus*/
.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2%;
}

.logo__heading {
    margin: 5px;
    font-weight: bold;
}

.logo__heading--normal {
    font-weight: normal;
}

/* hlavní navigace */
.navigation {
    position: absolute;
    top: 4%;
    left: 18%;
}

.menu, .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    width: 120%;
}

.menu__item {
    position: relative;
    padding-bottom: 5%;
}

.menu a {
    display: block;
    padding: 1em;   
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    margin-top: 25px;
    min-width: 150px;
}

.menu__item:hover .submenu {
    display: block;
    z-index: 100;
}

.menu__item a:hover {
    color: rgb(255, 102, 0);
}

.submenu__item a:hover {
    background-color: rgb(255, 102, 0);
    color: white;
}


/*oranzovy text na zacatku kazde sekce*/
.section-label {
    color: #e95721;
    font-weight: bold;
}

/*odsazení tří teček (ikona) od textu*/
.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.header__side-bar {
    position: absolute;
    left: 75%;
    top: 4%;
}

.side-bar {
    display: flex;
    justify-content: space-between;
    width: 23%;
    height: 7%;
}

.side-bar__item1 {
    background-color: rgb(255, 102, 0);
    color: white;
    flex: 0 1 50px;
    text-align: center;
}

.fb-icon1 {
    margin-top: 35%;
}

.side-bar__item2 {
    background-color: white;
    color: rgb(255, 102, 0);
    flex: 0 1 50px;
    text-align: center;
}

.yt-icon1 {
    margin-top: 35%;
}

.side-bar__item3 {
    background-color: white;
    flex: 0 1 150px;
    text-align: center;
}

.sign-in {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bolder;
}

.user-icon1 {
    color: rgb(255, 102, 0);
}

.side-bar__item4 {
    color: rgb(255, 102, 0);
    flex: 0 1 50px;
    text-align: center;
}

.menu-icon1 {
    margin-left: 50%;
}




/*welcome to eduplus cast*/
.welcome-box {
    width: 30%;
    /*height: 400px;*/
    height: auto;
    /* background-color: rgb(234,244,246); */
    position: relative;
    left: 19%;
    margin-top: 10%;
    padding-bottom: 5%;
    /*display: flex;
    flex-flow: column;*/
}

.welcome-box h2 {
    margin-top: 2%;
    font-size: 400%;
}

.welcome-box p {
    font-size: 85%;
}

/*Search Courses bar*/
.search-bar {
    /* width: 450px; */
    width: 100%;
    height: 65px;
    /* height: 15%; */
    background-color: white;
    display: flex;
    align-items: center;
    position:relative;
    bottom: 30px;
}

.search-bar__input {
    height: 35px;
    width: 355px;
    margin-left: 25px;
    border: none;
}

.search-bar__button {
    background-color: rgb(255, 102, 0);
    border: none;
    height: 50px;
    width: 50px;
    color: white;
}

.online-support {
    display: flex;  
    /*justify-content: space-between;*/
    align-items: center;
}

.online-support__line {
    flex-basis: 4px;
    height: 35px;
    background-color: rgb(255, 102, 0);
    margin-left: 40px;
    margin-right: 40px;
}

.online-support__icon {
    color: rgb(255, 102, 0);
}

.online-support__text2 {
    margin-left: 5px;
}



/*nadpis u sekcí*/
.section-heading {
    
}

/*statistics sekce*/
.stats {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.stats__item {
    position: relative;
    flex-basis: 18%;
    padding: 3%;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    top: 3vw;
    z-index: 100;
}

.stats__icon {
    color: rgb(255, 102, 0);
    margin-top: 5px;
}

.stats__text {
    margin-left: 10%;
}

.stats__text--big {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 102, 0);
}

.stats__text--small {
    font-size: 0.8em;
}

/*začátek main*/



/*course categories sekce*/
.course-categories-box {
    background-color: white;
}

.course-categories__heading {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 3%;
}

.course-categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
    grid-gap: 2rem;
}

.course-categories-grid__item {
    width: 100%;
}

.course-categories-grid__image {
    width: 100%;
    height: auto;
    display: block;
}

.course-categories-grid__text {
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.course-categories-grid__item li {
    display: inline;
}






/*available courses sekce*/
.available-courses-box {
    background-color: #062a36;
    position: relative;
    padding-bottom: 100px;
}

.available-courses-grid__heading {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

.available-courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-left: 10%;
    padding-right: 10%;
    grid-gap: 2rem;
}

.available-courses-grid__item {
    position: relative;
    background-color: white ;
    width: 100%;
}

.available-courses-grid__item > h3 > span {
    display: block;
}

.available-courses-grid__image {
    width: 100%;
    height: auto;
    display: block;
}

.available-courses-grid__flex1 {
    display: flex;
}

.available-courses-grid__flex2 {
    display: flex;
}

.available-courses-grid__info li {
    display: inline;
}

.available-courses-grid__button {
    color:skyblue;
    text-transform: uppercase;
    font-size: 0.7em;
    border: 3px solid #123642;
    width: 200px;
    padding: 10px;
    position: relative;
    margin: auto;
    top: 4vh;
}


/*campus gallery sekce*/

.gallery-box {
    background-color: white;
}

.gallery__heading {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.gallery__tabs {
    text-align: center;
}

.gallery__tabs a:hover {
    color: rgb(255, 102, 0);
}

.gallery__tabs li {
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
}

.gallery__images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2em;
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 10%;
    padding-top: 4%;
}

.gallery__image {
    width: 100%;
    height: auto;
}


/*Expert instructors sekce*/

.instructors__header {
    text-align: center;
    padding-top: 5%;
}

.instructors__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 4%;
    padding-bottom: 7%;
}

.instructors__item {
    background-color: white;
}

.instructors__image {
    width: 100%;
    height: auto;
    /* display: block; */
}




/*Upcoming Events sekce*/

.up-events-box {
    background-color: white;
    padding-bottom: 10%;
}

.up-events__header {
    text-align: center;
    padding-top: 5%;
}

.up-events-flex {
    max-width: 1100px;
    display: flex;
    /* gap: 2rem; */
    margin: auto;
    padding-top: 2%;
    padding-bottom: 8%;
    justify-content: space-between;
}

.up-events-flex__item {
    box-sizing: border-box;    
}

.up-events-flex__item1 {
    background-color: rgb(234,244,246);
    flex-shrink: 1;
    flex-basis: 65%;
    /* flex-grow: 2; */
}

.up-events-flex__item2 {
    flex-shrink: 0;
    flex-basis: 32%;
}

.up-events-flex__image {
    width: 100%;
    height: auto;
}

.up-events-flex__flex {
    display: flex;
    flex-flow: column;
    /* gap: 2rem; */
    justify-content: space-between;
}

.up-events-flex__subitem {
    background-size: cover;
    width: auto;
    color: white;
    /* flex-grow: 1; */
    flex-basis: 48%;
}

.up-events-flex__subitem1 {
    background-image: url(Images/Events/event-preview2.jpg);
}

.up-events-flex__subitem2 {
    background-image: url(Images/Events/event-preview3.jpg);
}

.up-events-flex__button--bottom {

}




/* What our students say */

.students-feedback {
    background-color: darkslateblue;
}

.students-feedback__header {
    text-align: center;
    padding-top: 5%;
    color: white;
}


/* Become an instructor sekce  */

.become-instructor__box {
    position: relative;
    background-color: rgb(234,244,246);;
}

.become-instructor__flex {
    max-width: 1100px;
    margin: auto;
    padding: 7% 0;
    display: flex;
    justify-content: space-between;
}

.become-instructor__item1 {
    flex-basis: 55%;
}

.become-instructor__image1 {
    max-width: 75%;
    height: auto;
}

.become-instructor__image2 {
    z-index: 1;
    margin-top: -20%;
    margin-left: 40%;
    max-width: 50%;
    height: auto;
}

.become-instructor__item2 {
    flex-basis: 45%;
}

.become-instructor__item2-flex1 {
    display: flex;
    justify-content: space-between;
}

.become-instructor__gray-line {
    flex-basis: 1px;
    background-color: gray;
}

.become-instructor__subitem1 {
    flex-basis: 40%;
}

.become-instructor__subitem2 {
    margin-right: 2%;
}

.become-instructor__subitem3 {
    flex-basis: 40%;
}

.become-instructor__item2-flex2 {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    padding-top: 5%;
}

.become-instructor__subitem4 {
    color: white;
    background-color: rgb(255, 102, 0);
    padding: 5% 7%;
}

.become-instructor__subitem5 {
    background-color: white;
    padding: 5% 7%;
}




/* Latest News & Blog sekce */
.news-blog {
    background-color: white;
    padding-top: 7%;
}

.news-blog__header {
    text-align: center;
}

.news-blog__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
}

.news-blog__image {
    width: 100%;
    height: auto;
}




/*spodní řada log před patičkou*/
.bottom-logos {
    width:100%;
    height: auto;
    text-align: center;
    background-color: rgb(255, 102, 0);
}

.bottom-logos__item {
    width: 15%;
    height: 10%;
    display: inline-block;
}










@media (max-width: 1200px) {
    .side-bar__item4 {
        display: none;
    }

    .welcome-box h2 {
        font-size: 300%;
    }

    .become-instructor__item2-flex2 {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .side-bar__item1, .side-bar__item2 {
        display: none;
    }

    .navigation {
        position: relative;
        left: 1%;
    }
}

@media (max-width: 890px) {
    .stats {
        flex-flow: column;
        width: 30%;
        height: 300px;
    }

    .up-events-flex {
        flex-flow: column;
    }

    .up-events-flex__flex {
        flex-flow: row;
    }

    .up-events-flex__subitem {
        height: 200px;
    }

    .become-instructor__flex {
        flex-flow: column;
    }
}

@media (max-width: 768px) {
    .welcome-box h2 {
        font-size: 200%;
    }
}

@media (max-width: 576px) {
    .side-bar__item3 {
        display: none;
    }

    /*navigace*/
    .menu {
        flex-flow: column;
    }

    .menu__item {
        height: 1em;
    }

    .stats {
        width: 40%;
    }

    .up-events-flex__flex {
        flex-flow: column;
        height: 330px;
    }
    
    .up-events-flex__item2 {
        flex-basis: unset;
    }
}

@media (min-width: 376px) {

}