/** {
    margin: 0;
}*/



html { background-color: rgb(234,244,246); }

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', 'Hind', sans-serif;
}

a { text-decoration: none; }

/*uvodni logo + text EduPlus*/
.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2%;
}

.logo__heading {
    margin: 5px;
}

.logo__heading--normal {
    font-weight: normal;
}

/* hlavní navigace */
.navigation {
    position: absolute;
    top: 4%;
    left: 18%;
}

.menu, .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    width: 120%;
}

.menu__item {
    /* flex: 0; */
    /* flex-grow: 0; */
    position: relative;
}

.menu a {
    display: block;
    padding: 1em;   
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    margin-top: 25px;
    min-width: 150px;
}

.menu__item:hover .submenu {
    display: block;
    z-index: 100;
}

.menu__item a:hover {
    color: rgb(255, 102, 0);
}

.submenu__item a:hover {
    background-color: rgb(255, 102, 0);
    color: white;
}


/*oranzovy text na zacatku kazde sekce*/
.section-label {
    color: #e95721;
    font-weight: bold;
}

/*odsazení tří teček (ikona) od textu*/
.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

/*boční "menu"*/
.side-bar {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    /*left: 1100px;*/
    left: 75%;
    /* top: 30px; */
    top: 5%;
    width: 24%;
    flex-wrap: wrap;
    background-color: chartreuse;
}

.side-bar__item1 {
    /* flex-basis: 50px; */
    flex-basis: 15%;
    /* height: 50px; */
    background-color: rgb(255, 102, 0);
    color: white;
    text-align: center;
}

.fb-icon1 {
    /*margin-top: 15px;*/
    margin-top: 35%;
}

.side-bar__item2 {
    flex-basis: 50px;
    background-color: white;
    color: rgb(255, 102, 0);
    text-align: center;
}

.yt-icon1 {
    /*margin-top: 17px;*/
    margin-top: 35%;
}

.side-bar__item3 {
    text-align: center;
    background-color: white;
    flex-basis: 150px;
    height: 50px;
}

.sign-in {
    margin-top: 15px;
}

.user-icon1 {
    color: rgb(255, 102, 0);
}

.side-bar__item4 {
    text-align: center;
    flex-basis: 50px;
}

.menu-icon1 {
    color: rgb(255, 102, 0);
    margin-left: 30px;
}

/*welcome to eduplus cast*/
.welcome {
    width: 30%;
    background-color: rgb(234,244,246);
    position: relative;
    left: 19%;
    margin-top: 10%;
    padding-bottom: 5%;
}

.welcome h2 {
    margin-top: 2%;
    font-size: 400%;
}

.welcome p {
    font-size: 85%;
}

/*Search Courses bar*/
.search-bar {
    width: 450px;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    position:relative;
    bottom: 30px;
}

.online-support {
    display: flex;  
    /*justify-content: space-between;*/
    align-items: center;
}

.online-support__line {
    flex-basis: 4px;
    height: 35px;
    background-color: rgb(255, 102, 0);
    margin-left: 40px;
    margin-right: 40px;
}

.online-support__icon {
    color: rgb(255, 102, 0);
}

.online-support__text2 {
    margin-left: 5px;
}

.search-bar__input {
    height: 35px;
    width: 355px;
    margin-left: 25px;
    border: none;
}

.search-bar__button {
    background-color: rgb(255, 102, 0);
    border: none;
    height: 50px;
    width: 50px;
    color: white;
}

/*nadpis u sekcí*/
.section-heading {
    
}

/*statistics sekce*/
.stats {
    /* position: absolute; */
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* left: 50%; */
    margin-left: auto;
    margin-right: auto;
}

.stats__item {
    position: relative;
    flex-basis: 18%;
    padding: 3%;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* top: 2.5em; */
    top: 3vw;
    z-index: 100;
}

.stats__icon {
    color: rgb(255, 102, 0);
    margin-top: 5px;
}

.stats__text {
    margin-left: 10%;
}

.stats__text--big {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 102, 0);
}

.stats__text--small {
    font-size: 0.8em;
}

/*začátek main - course categories sekce*/
.course-categories-box {
    width: 100%;
    background-color: white;
    position: relative;
}

.course-categories-flex {
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
    /* width: 75%; */
    /* height: 70%; */
    left: 50%;
    margin-left: -37.5%;
    padding-top: 9%;
    /* top: 15%; */
    position: relative;
    justify-content: space-between;
    align-content: space-between;
    width: 76%;
    /* height: 100%; */
    /* height: 65vw; */
    height: auto;
}

.course-categories-flex__heading {
    text-align: center;
    flex-basis: 100%;
}

.course-categories-flex__item {
}

.course-categories-flex__image {
    max-width: 100%;
    display: block;
}

.course-categories-flex__text {
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.course-categories-flex__item li {
    display: inline;
}



/*available courses sekce*/
.available-courses-box {
    min-width: 100%;
    height: 1030px;
    background-color: #062a36;
    position: relative;
}

.available-courses-grid {
    position: absolute;
    display: grid;
    /*grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;*/
    grid-template-rows: 15vh 70vh 30vh;
    grid-template-columns: 30vw 30vw 30vw;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 85%;
    left: 50%;
    margin-left: -42.5%;
    top: 8%;
    /* background-color: chartreuse; */
}

.available-courses-grid__heading {
    grid-row: 1;
    grid-column: 2;
}

.available-courses-grid__item1 {
    grid-row: 2;
    grid-column: 1;
}

.available-courses-grid__item2 {
    grid-row: 2;
    grid-column: 2;
}

.available-courses-grid__item3 {
    grid-row: 2;
    grid-column: 3;
}

.available-courses-grid__button {
    grid-row: 3;
    grid-column: 2;
} 




/*spodní řada log před patičkou*/
.bottom-logos {
    width:100%;
    height: auto;
    text-align: center;
    background-color: rgb(255, 102, 0);
}

.bottom-logos__item {
    width: 15%;
    height: 10%;
    display: inline-block;
}

@media (max-width: 1200px) {
    .side-bar__item4 {
        display: none;
    }
}

@media (max-width: 992px) {
    
}

@media (min-width: 768px) {

}

@media (min-width: 576px) {

}

@media (min-width: 376px) {

}