/** {
    margin: 0;
}*/



html { background-color: rgb(234,244,246); }

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', 'Hind', sans-serif;
}

a { text-decoration: none; }

/*uvodni logo + text EduPlus*/
.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2%;
}

.logo__heading {
    margin: 5px;
    font-weight: bold;
}

.logo__heading--normal {
    font-weight: normal;
}

/* hlavní navigace */
.navigation {
    position: absolute;
    top: 4%;
    left: 18%;
}

.menu, .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    width: 120%;
}

.menu__item {
    /* flex: 0; */
    /* flex-grow: 0; */
    position: relative;
}

.menu a {
    display: block;
    padding: 1em;   
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    margin-top: 25px;
    min-width: 150px;
}

.menu__item:hover .submenu {
    display: block;
    z-index: 100;
}

.menu__item a:hover {
    color: rgb(255, 102, 0);
}

.submenu__item a:hover {
    background-color: rgb(255, 102, 0);
    color: white;
}


/*oranzovy text na zacatku kazde sekce*/
.section-label {
    color: #e95721;
    font-weight: bold;
}

/*odsazení tří teček (ikona) od textu*/
.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.header__side-bar {
    position: absolute;
    left: 75%;
    top: 4%;
}

.side-bar {
    display: flex;
    justify-content: space-between;
    width: 23%;
    height: 7%;
}

.side-bar__item1 {
    background-color: rgb(255, 102, 0);
    color: white;
    flex: 0 1 50px;
    text-align: center;
}

.fb-icon1 {
    margin-top: 35%;
}

.side-bar__item2 {
    background-color: white;
    color: rgb(255, 102, 0);
    flex: 0 1 50px;
    text-align: center;
}

.yt-icon1 {
    margin-top: 35%;
}

.side-bar__item3 {
    background-color: white;
    flex: 0 1 150px;
    text-align: center;
}

.sign-in {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bolder;
}

.user-icon1 {
    color: rgb(255, 102, 0);
}

.side-bar__item4 {
    color: rgb(255, 102, 0);
    flex: 0 1 50px;
    text-align: center;
}

.menu-icon1 {
    margin-left: 50%;
}




/*welcome to eduplus cast*/
.welcome-box {
    width: 30%;
    height: auto;
    /* background-color: rgb(234,244,246); */
    background-color: yellow;
    position: relative;
    left: 19%;
    margin-top: 10%;
    padding-bottom: 5%;
    /*display: flex;
    flex-flow: column;*/
}

.welcome-box h2 {
    margin-top: 2%;
    font-size: 400%;
}

.welcome-box p {
    font-size: 85%;
}

/*Search Courses bar*/
.search-bar {
    /* width: 450px; */
    width: 100%;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    position:relative;
    bottom: 30px;
}

.search-bar__input {
    height: 35px;
    width: 355px;
    margin-left: 25px;
    border: none;
}

.search-bar__button {
    background-color: rgb(255, 102, 0);
    border: none;
    height: 50px;
    width: 50px;
    color: white;
}

.online-support {
    display: flex;  
    /*justify-content: space-between;*/
    align-items: center;
}

.online-support__line {
    flex-basis: 4px;
    height: 35px;
    background-color: rgb(255, 102, 0);
    margin-left: 40px;
    margin-right: 40px;
}

.online-support__icon {
    color: rgb(255, 102, 0);
}

.online-support__text2 {
    margin-left: 5px;
}



/*nadpis u sekcí*/
.section-heading {
    
}

/*statistics sekce*/
.stats {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.stats__item {
    position: relative;
    flex-basis: 18%;
    padding: 3%;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    top: 3vw;
    z-index: 100;
}

.stats__icon {
    color: rgb(255, 102, 0);
    margin-top: 5px;
}

.stats__text {
    margin-left: 10%;
}

.stats__text--big {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 102, 0);
}

.stats__text--small {
    font-size: 0.8em;
}

/*začátek main*/



/*course categories sekce*/
.course-categories-box {
    background-color: white;
}

.course-categories__heading {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 3%;
}

.course-categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
    justify-items: center;
    justify-content: center;
    align-content: center;
    grid-row-gap: 2rem;
}

.course-categories-grid__image {
    max-width: 100%;
    display: block;
}

.course-categories-grid__text {
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.course-categories-grid__item li {
    display: inline;
}


/*
.course-categories-box {
    width: 100%;
    background-color: white;
    position: relative;
}

.course-categories-grid {
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
    left: 50%;
    margin-left: -37.5%;
    padding-top: 9%;
    position: relative;
    justify-content: space-between;
    align-content: space-between;
    width: 76%;
    height: auto;
}

.course-categories-grid__heading {
    text-align: center;
    flex-basis: 100%;
}

.course-categories-grid__item {
}

.course-categories-grid__image {
    max-width: 100%;
    display: block;
}

.course-categories-grid__text {
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.course-categories-grid__item li {
    display: inline;
}*/



/*available courses sekce*/
.available-courses-box {
    background-color: #062a36;
    position: relative;
    padding-bottom: 100px;
}

.available-courses-grid__heading {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 3%;
}

.available-courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding-left: 10%;
    padding-right: 10%;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.available-courses-grid__item {
    position: relative;
}

.available-courses-grid__flex1 {
    display: flex;
}

.available-courses-grid__flex2 {
    display: flex;
}

.available-courses-grid__button {
    color:skyblue;
    text-transform: uppercase;
    font-size: 0.7em;
    border: 3px solid #123642;
    width: 200px;
    /* padding-left: 20px; */
    padding: 10px;
    position: relative;
    margin: auto;
    
}


/*
.available-courses-box {
    min-width: 100%;
    height: 1030px;
    background-color: #062a36;
    position: relative;
}

.available-courses-grid {
    position: absolute;
    display: grid;
    grid-template-rows: 15vh 70vh 30vh;
    grid-template-columns: 30vw 30vw 30vw;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 85%;
    left: 50%;
    margin-left: -42.5%;
    top: 8%;
}

.available-courses-grid__heading {
    grid-row: 1;
    grid-column: 2;
}

.available-courses-grid__item1 {
    grid-row: 2;
    grid-column: 1;
}

.available-courses-grid__item2 {
    grid-row: 2;
    grid-column: 2;
}

.available-courses-grid__item3 {
    grid-row: 2;
    grid-column: 3;
}

.available-courses-grid__button {
    grid-row: 3;
    grid-column: 2;
} 
*/



/*spodní řada log před patičkou*/
.bottom-logos {
    width:100%;
    height: auto;
    text-align: center;
    background-color: rgb(255, 102, 0);
}

.bottom-logos__item {
    width: 15%;
    height: 10%;
    display: inline-block;
}

@media (max-width: 1200px) {
    .side-bar__item4 {
        display: none;
    }
}

@media (max-width: 992px) {
    .side-bar__item1, .side-bar__item2 {
        display: none;
    }

    .navigation {
        position: relative;
        left: 1%;
    }
}

@media (max-width: 890px) {
    .stats {
        flex-flow: column;
        width: 30%;
        height: 300px;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .side-bar__item3 {
        display: none;
    }

    .menu {
        flex-flow: column;
    }

    .menu__item {
        height: 2.5em;
    }
}

@media (min-width: 376px) {

}